#grid {
	margin: 0 auto 0.2em auto;
	width: 5em;
	background-color: linen;
	text-align: center;
	border-right: 0.025em solid black;
	border-bottom: 0.025em solid black;
}

#btns {
	width: 20em;
	font-size: 25%;
	margin: auto;
}

.container-fluid {
	font-size: 90px;
}

.row {
	margin: 0;
}

.grid-box {
	height: 1.67em;
	border-left: 0.025em solid black;
	border-top: 0.025em solid black;
	border-right: none;
	line-height: 160%;
	cursor: pointer;
}

.btn {
	font-size: 125%;
}

.list-group {
	width: 5em;
	margin: auto;
}

.list-group-item {
	display: inline-block;
	font-size: 25%;
	width: 5.8em;
	border: none;
}

@media only screen 
	and (max-device-width: 1024px)
	and (orientation: portrait){ 
		.container-fluid {
			font-size: 180px;
		}
		
		.modal-dialog {
			font-size: 48px;
			width: 730px;
		}
		
		input[type=radio] { 
			width: 40px;
			height: 40px;
		}
}

